use flake

export GIT_SSH_PRIVATE_KEY="~/.ssh/github_id_ed25519"
export GIT_SSH_COMMAND="ssh -i ${GIT_SSH_PRIVATE_KEY} -F /dev/null"
export GIT_AUTHOR_NAME="Mads Bach Villadsen"
export GIT_AUTHOR_EMAIL="mvilladsen@pm.me"
export GIT_COMMITTER_NAME="Mads Bach Villadsen"
export GIT_COMMITTER_EMAIL="mvilladsen@pm.me"
